<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">

        <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>

        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css}">
        <link th:each="cssFile : ${addCss}" rel="stylesheet" type="text/css"
              th:href="@{/css/admin/{file}.css(file=${cssFile})}">
        <th:block layout:fragment="addCss"></th:block>

        <script th:src="@{/js/admin/common.js}"></script>
        <script th:each="jsFile : ${addScript}" th:src="@{/js/admin/{file}.js(file=${jsFile})}"></script>
        <th:block layout:fragment="addScript"></th:block>
    </head>

    <body>
        <header th:replace="~{admin/outlines/header::common}"></header>

        <main>
            <aside th:replace="~{admin/outlines/side::menu}"></aside>

            <section layout:fragment="content"></section>
        </main>

        <footer th:replace="~{admin/outlines/footer::common}"></footer>

        <iframe name="ifrmProcess" class="dn"></iframe>
    </body>
</html>