<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<head>
    <link th:href="@{css/question/style.css}" rel="stylesheet" />
</head>
<main layout:fragment="content">

    <div class="question_wrap">
        <h1>1:1 문의하기</h1>
        <div class="question_text">
            도움이 필요하신가요?<br><br>
            문의를 남겨주시면 자세히 안내 드리겠습니다.
        </div>
        <div class="question_btn">
            <a th:href="@{/question/write}">문의하기</a>
        </div>

        <div class="qna_wrap">
            <div class="qna_list">

            </div>
        </div>
    </div>

    <script>
        const errorMessage = "[[${errorMessage}]]";
        if(errorMessage != ""){
            alert(errorMessage);
        }
    </script>
</main>
</html>