<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<head>
    <link th:href="@{css/myInfo/style.css}" rel="stylesheet" />
</head>
<main layout:fragment="content">

    <div class="question_wrap">
        <h1>1:1 문의하기</h1>

        <a th:href="@{/question/write}">문의하기</a>

    </div>

    <script>
        const errorMessage = "[[${errorMessage}]]";
        if(errorMessage != ""){
            alert(errorMessage);
        }
    </script>
</main>
</html>