<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
      layout:decorate="~{layouts/front/main}">

<main layout:fragment="content">
    <form method="post">
    <th:block th:replace="~{board/form/_board_title::title}"></th:block>
    게시글 리스트 테스트
    <h1 th:text="${test}"></h1>
    <table class="table-list">
        <thead>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>작성일</th>
            <th>조회수</th>
            <th>좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${postList}" th:object="${item}">
            <td class="list_num" th:text="*{id}"></td>
            <td class="list_subject" th:text="*{subject}"></td>
            <td class="list_poster" th:text="*{poster}"></td>
            <td class="list_num" th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd')}">작성일 테스트</td>
            <td class="list_num" th:text="*{hit}"></td>
            <td class="list_num">1</td>
        </tr>
        </tbody>
    </table>
    </form>
</main>
</html>