<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
      layout:decorate="~{layouts/front/main}">

<main layout:fragment="content">
    게시글 리스트 테스트

    <table class="table-rows">
        <thead>
        <tr>
            <th>
               글번호
            </th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>작성일</th>
            <th>조회</th>
            <th>좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                1
            </td>
            <td class="test1">제목 테스트</td>
            <td>작성자 테스트</td>
            <td>
                작성일 테스트
            </td>
            <td>조회 테스트</td>
            <td>좋아요 테스트</td>
        </tr>
        </tbody>
    </table>

</main>
</html>