<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
      layout:decorate="~{layouts/front/main}">

<main layout:fragment="content">
    <th:block th:replace="~{board/form/_board_title::title}"></th:block>
    <form method="post" th:action="@{/board/password}" autocomplete="off">
        <dl>
            <dt th:text="#{userPw}">비밀번호</dt>
            <dd>
                <input type="password" name="password">
            </dd>
        </dl>
        <button type="submit" th:text="#{board.confirm}"></button>
    </form>



</main>
</html>