<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/myinfo/style.css">
</head>
<main layout:fragment="content">


    <form method="post" th:action="@{/member/mypage/myinfo}" th:object="${member}">
        <th:block th:if="${userNo}">
            <input type="hidden" th:field="*{userNo}">
        </th:block>



            <div class="menu-bar">
                <div class="left-bar">
                    <div class="menu-sidebar">
                        <a href="javascript:;"><span>내 정보 수정</span></a>
                    </div>
                    <div class="menu-sidebar">
                        <a th:href="@{/member/mypage/mywrite}"><span>내가 쓴 글</span></a>

                    </div>
                </div>

                <div class="right-bar">
                    <div class="main_bar">
                        <span> 아이디</span>
                        <div class="user-fiexed">
                        <span th:text="*{userId}"></span>
                            <input type="hidden" th:field="*{userId}">
                        </div>
                    </div>
                    <div class="main_bar">
                        <span>비밀번호</span>
                        <div>
                        <input type="password"  th:field="*{userPw}">
                        </div>
                    </div>
                    <div class="main_bar">
                        <span>새 비밀번호</span>
                        <div>
                        <input type="password"  th:field="*{userNewPw}">
                            </div>
                    </div>
                    <div class="main_bar">
                        <span>새 비밀번호 확인</span>
                        <div>
                        <input type="password"  th:field="*{userNewPwRe}">
                            </div>
                    </div>
                    <div class="main_bar">
                        <span> 이름</span>
                        <div class="user-fiexed">
                            <span th:text="*{userNm}"></span>
                            <input type="hidden" th:field="*{userNm}">
                        </div>
                    </div>
                    <div class="main_bar">
                        <span>닉네임</span>
                        <div>
                        <input type="text"  th:field="*{userNick}">
                            </div>
                    </div>
                    <div class="main_bar">
                        <span>핸드폰</span>
                        <div>
                        <input type="text"  th:field="*{mobile}">
                        </div>
                    </div>
                    <button type="submit">수정하기</button>
                </div>

            </div>






    </form>

    <!--  <form method="post" th:action="@{/member/myinfo}" th:object="${member}">

          <dl>
              <dt th:text="#{userId}"></dt>
              <dd>
                  <input type="text" name="userId" th:field="*{userId}">
                  <div class="errors" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
              </dd>
          </dl>


      -->

</main>
</html>