<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">
<head>
    <link th:href="@{css/myInfo/style.css}" rel="stylesheet" />
</head>
<main layout:fragment="content">

    <div class="myWriteWrap">
        <ul th:object="${postFormList}">
            <li th:each="postForm : ${postFormList}">
                <div class="subject" th:text="*{subject}"></div>
                <div class="createdAt" th:text="*{createdAt}"></div>
            </li>
        </ul>
    </div>
</main>
</html>