<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <aside th:fragment="menu">
        <ul class="main_menu">
            <li th:classappend="${menuCode} == 'config' ? 'on'">
                <a th:href="@{/admin/config}">
                    <i class="xi-wrench"></i>
                    사이트 설정</a>
            </li>
            <li th:classappend="${menuCode} == 'board' ? 'on'">
                <a th:href="@{/admin/board}">
                    <i class="xi-list-square"></i>
                    게시판 관리</a>
                <ul class="subs">
                    <li class="sub"
                        th:each="menu : ${@menus._gets('board')}" th:classappend="${subMenuCode == menu.code} ? 'on'">
                        <a th:href="@{{url}(url=${menu.url})}" th:text="${menu.name}"></a>
                    </li>
                </ul>
            </li>
            <li th:classappend="${menuCode} == 'member' ? 'on'">
                <a th:href="@{/admin/member}">
                    <i class="xi-group"></i>
                    회원 관리</a>
            </li>
        </ul>
    </aside>
</html>