<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/main}">
<section layout:fragment="content">
    <h1 th:text="${title}"></h1>

    <form method="post" th:action="@{/admin/member}" name="frmMemList" target="ifrmProcess">
        <table class="table-cols" th:each="member : ${members}" th:object="${member}">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>회원 번호</th>
                    <th>권한</th>
                    <th>아이디</th>
                    <th>회원명</th>
                    <th>닉네임</th>
                    <th>핸드폰 번호</th>
                    <th>가입 날짜</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" th:value="*{userNo}" th:id="*{userNo}">
                        <label th:for="*{userNo}"></label>
                    </td>
                    <td th:text="*{userNo}"></td>
                    <td>
                        <select>
                            <option th:each="role : ${T(com.issuemarket.commons.constants.Role).USER}"
                                    th:value="${role}" th:text="${role}"></option>

                            <option th:each="role : ${T(com.issuemarket.commons.constants.Role).ADMIN}"
                                    th:value="${role}" th:text="${role}"></option>
                        </select>
                    </td>
                    <td th:text="*{userId}"></td>
                    <td th:text="*{userNm}"></td>
                    <td th:text="*{userNick}"></td>
                    <td th:text="*{mobile}"></td>
                    <td th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd')}"></td>
                </tr>
            </tbody>
        </table>

        <div class="btns">
            <button type="submit">저장하기</button>
        </div>
    </form>
</section>
</html>