<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin/main}">
    <section layout:fragment="content">
        <h1 th:text="${title}"></h1>
        <form method="post" name="frmMemberDetail" autocomplete="off" th:object="${member}">
<!--            <th:block th:replace="~{commons/execute_script::script}"-->
            <h1 th:field="*{userId}" th:text="*{userId}"></h1>

            <table class="table-cols">
                <tr>
                    <th>회원번호</th>
                    <td th:text="*{userNo}"></td>
                </tr>

                <tr>
                    <th>아이디</th>
                    <td th:text="*{userId}"></td>
                </tr>

                <tr>
                    <th>회원명</th>
                    <td th:text="*{userNm}"></td>
                </tr>

                <tr>
                    <th>닉네임</th>
                    <td>
                        <input type="text" th:value="*{userNick}">
                    </td>
                </tr>

                <tr>
                    <th>핸드폰 번호</th>
                    <td>
                        <input type="text" th:value="*{mobile}">
                    </td>
                </tr>

                <tr>
                    <th>가입 날짜</th>
                    <td th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd')}"></td>
                </tr>

            </table>

            <div class="search_btn">
                <button type="submit">수정하기</button>
                <button th:onclick="script">회원 탈퇴</button>
            </div>
        </form>
    </section>
</html>