<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="navbar" class="head_bar">
        <nav class="menu_bar">
            <ul class="menu_bar_list">
                <li>
                    <a href="#">Board1</a>
                    <ul class="sub_list">
                        <li>
                            <a href="#">Board1_1</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Board2</a>
                    <ul class="sub_list">
                        <li>
                            <a href="#">Board1_1</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</html>