<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="common">
        <section class="left">로고</section>
        <section class="right">
            <!-- 회원일 경우 -->
            <th:block sec:authorize="isAuthenticated()">
                <a th:href="@{/member/logout}" th:text="#{member.logout}" class="sbtn gray"></a>

                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}" th:text="#{adminPage}"></a>
            </th:block>

            <!-- 비회원일 경우 -->
            <th:block sec:authorize="isAnonymous()">
                <a th:href="@{/member/join}" th:text="#{member.join}" class="sbtn"></a>
                <a th:href="@{/member/login}" th:text="#{member.login}" class="sbtn gray"></a>
            </th:block>
        </section>
    </header>
</html>